.headerRow{

    display:flex;
    justify-content: space-between;
}

.headerW{

    display:flex;
    gap:0.5rem;
    align-items: center;
}

.iconModal{

    height: 1.7rem;
    width: 1.7rem;
}

.divider{
    width:100%;
    border:0.1rem solid #000000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modalWrapper, .btnWrapper{
    display: flex; 
}
.inputWrapper{
    border:1px solid #ccc;
    border-radius: 0.6rem;
    height:10rem;
    padding:1rem;
}
.formParent{
    width:100%;
    height:100%;
}
.formChild{

    border:none;
    background:transparent;
    color:#000;
    width:100%;
    height:100%;
    font-family:"Ranade";
    font-weight: 300;
    resize:none;
    outline:none;
    line-height: 1.4;
}

.formChild:focus{
    outline:none;
}

.inputWrapper:focus-within {
  border-color: #4f46e5;
  box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.2);
}