.navbarContainer{

  display: flex;
  flex-direction: column; /* stack content vertically */
  /* padding: 0.8rem 4rem; */
  gap: 1rem;
}

.navbarHeader{

  display: flex;
  flex-direction: row; /* allow header + divider to stack */
  justify-content: space-between; /* align items horizontally */
  gap: 0.5rem; /* spacing between header content and divider */

}

.divider{

  border: 1px solid #000;
  width: 100%; 
}

.navbarContainer h1{

    color:#000;

}

.buttonContainer{

    display: flex;
    flex-direction:row;
    gap:1rem;
}

.buttonContainer button{
    background-color:#000;
    width: 8rem;
}