.sectionWrapper {
  display: grid;
  column-gap: 0;
  row-gap: 2rem;
}

/* Mobile */
.sectionWrapper {
  grid-template-columns: 1fr;
}

/* Tablet */
@media (min-width: 640px) {
  .sectionWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .sectionWrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}