.cardWrapper{

    display:flex;
    flex-direction: column;
    padding: 1rem;
    border: 0.2rem solid #B3D89C;
    border-radius:1rem;
    background:#D0EFB1;
    width: 25rem;
    min-height: 15rem;
    gap:1rem;
}

.footerRow{
    display:flex;
    width:100%; 
    justify-content: space-between;
}
.footerRow p{
    margin:0;
    font-family: "Ranade";
    font-weight: 300;
    font-size: 0.8rem;
    color:#808080;
}

.divider{
    width:100%;
    border:0.1rem solid #B3D89C;
}

.headerRow{

    display:flex;
    justify-content: space-between;
}

.headerW{

    display:flex;
    gap:0.5rem;
    align-items: center;
}

.statusBadge{

    border: 0.1rem solid #4D7298;
    border-radius: 0.5rem;
    padding: 0.2rem 1.1rem;
    display:flex;
    justify-content: center;
    font-family: "Archivo";
    font-weight: 800;
    font-size: 1rem;
    color:#4D7298 ;
    background-color:#B3D89C;
}

.Desc{

    font-family: "Ranade";
    font-weight: 300;
    font-size: 0.8rem;
    color:#000000;
    
}

.taskCardbtn{

    all:unset;
    cursor:pointer;
    display:flex;
    color:#4D7298;
}
