.cardWrapper{

  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 0.1rem solid #000;
  border-radius: 1rem;
  background: #fff;
  width: 100%;
  max-width: 30rem;  /* key change */
  height: 20rem;
  gap: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  justify-self:center;
}

.footerRow{
    display:flex;
    width:100%; 
    justify-content: space-between;
}
.footerRow p{
    margin:0;
    font-family: "Ranade";
    font-weight: 300;
    font-size: 0.8rem;
    color:#808080;
}

.divider{
    width:100%;
    border:0.1rem solid #000000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.headerRow{

    display:flex;
    justify-content: space-between;
}

.headerW{

    display:flex;
    gap:0.5rem;
    align-items: center;
}

.statusBadge{

    border-radius: 0.6rem;
    padding: 0.2rem 1.1rem;
    display:flex;
    justify-content: center;
    font-family: "Archivo";
    font-weight: 600;
    font-style: italic;
    font-size: 1rem;
    color:#FFFFFF ;
    background-color:#808080;

}

.icon{

    color:#000000;
}
.Desc{

    width:100%;
    font-family: "Ranade";
    font-weight: 300;
    font-size: 0.8rem;
    color:#000000;
    max-height: 10rem;
    overflow-wrap: break-word;
    word-break: break-word;
    overflow-y:auto;
    flex:1;
}

.title{

    font-family: "Archivo";
    font-weight: 800;
    font-size: 1.2rem;
    color:#000000;
    margin:0;

}

.taskCardbtn{

    all:unset;
    cursor:pointer;
    display:flex;
    color:#4D7298;
}

