.cardWrapper{

    display:flex;
    flex-direction: column;
    padding: 1rem;
    border: 0.1rem solid #000000;
    border-radius:1rem;
    background:#FFFFFF;
    width: 25rem;
    min-height: 15rem;
    gap:1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.footerRow{
    display:flex;
    width:100%; 
    justify-content: space-between;
}
.footerRow p{
    margin:0;
    font-family: "Ranade";
    font-weight: 300;
    font-size: 0.8rem;
    color:#808080;
}

.divider{
    width:100%;
    border:0.1rem solid #000000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.headerRow{

    display:flex;
    justify-content: space-between;
}

.headerW{

    display:flex;
    gap:0.5rem;
    align-items: center;
}

.statusBadge{

    border-radius: 0.6rem;
    padding: 0.2rem 1.1rem;
    display:flex;
    justify-content: center;
    font-family: "Archivo";
    font-weight: 600;
    font-style: italic;
    font-size: 1rem;
    color:#FFFFFF ;
    background-color:#808080;

}

.icon{

    color:#000000;
}
.Desc{

    font-family: "Ranade";
    font-weight: 300;
    font-size: 0.8rem;
    color:#000000;
    
}

.taskCardbtn{

    all:unset;
    cursor:pointer;
    display:flex;
    color:#4D7298;
}

